{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Dashboard - Vilo Sky
{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="mt-5">Dashboard</h1>

    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <p class="lead">Hi {{ user.first_name }} {{ user.last_name }}, welcome to your dashboard! From here you can view
        current and previous searches containing our advice to you.</p>
    {% else %}
    <p class="lead">Hi, it’s great to meet you! We hope you find the following advice useful.</p>
    {% endif %}
    <h2>Our Advice</h2>
    <div class="row">
        <div class="col-sm-9">
            {% if resources %}
            {% for resource in resources %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">{{resource.name}}</h5>
                        {% if resource.media and resource.url %}
                            <p class="card-text">We recommend the following resources:
                                <br><a href="/media/{{resource.media}}" target="_blank">{{resource.name}}</a>
                                <br><a href="{{resource.url}}" target="_blank">{{resource.url}}</a>
                            </p>
                        {% elif resource.media %}
                            <p class="card-text">We recommend the following resource:
                                <br><a href="/media/{{resource.media}}" target="_blank">{{resource.name}}</a>
                            </p>
                        {% elif resource.url %}
                            <p class="card-text">We recommend the following website:
                                <br><a href="{{resource.url}}" target="_blank">{{resource.url}}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>You have not run a recent search. You can run one by heading to <a href="{% url 'paths:search' %}">Find
                    Paths</a>.</p>
            {% endif %}
        </div>
        <div class="col-sm-3 text-center">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-lg btn-block">View previous searches</button>
            {% endif %}
            <button type="button" class="btn btn-lg btn-block">View a list of resources</button>
            <button type="button" class="btn btn-lg btn-block">Download advice PDF</button>
        </div>
    </div>
</div>
{% endblock %}