{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Dashboard
{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="mt-5">Dashboard</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <h2>Our Advice</h2>
    <div class="row">
        <div class="col-sm-9">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Advice title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est
                            laborum.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Advice title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est
                            laborum.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <h5 class="card-title">Advice title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est
                            laborum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block">View previous searches</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">View a list of resources</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Download advice PDF</button>
        </div>
    </div>
</div>

{{ resources }}
<br>

<div>
    {% if user.is_authenticated %}
        {% block title_block %}
        Forgot Your Password?
        {% endblock %}
        <a href="changePassword.html">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}