{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Home - Vilo Sky
{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="mt-5">Welcome to Vilo Sky Paths</h1>
    <div class="row">
        <div class="order-md-1 col-lg-8 text-md-start">
            <p class="lead mb-4">
                We’re a training, coaching and consultancy service dedicated to building inclusive workplace cultures.
                Our friends know us as Vicky and Louise, a data analyst and legal expert with a passion for diversity.
                After experiencing first hand the effects of non-inclusive cultures, we realised that the best way to
                influence change was to make one ourselves. And so Vilo Sky was born.
            </p>
        </div>
        <div class="mx-auto order-md-2 col-lg-4">
            <figure>
                <img src="/static/images/vicky-and-lou-vilosky.jpg" class="img-fluid mb-3 mb-md-0 w-100"
                    alt="vicky and lou vilosky">
                <figcaption class="image-caption-wrapper">Vicky and Louise, Directors at Vilo Sky</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="order-md-1 col-lg-8 text-md-start">
            <h2>Our Values</h2>
            <p>Our values are based on our belief that:</p>
            <ul>
                <li>Everyone has a right to be their authentic selves</li>
                <li>All of us are uniquely talented and skilled</li>
                <li>No one person is better than another</li>
                <li>Anything is possible</li>
            </ul>

            <h2>Our Mission</h2>
            <p>Our goal is to improve inclusion at work by removing systemic
                barriers built over years of conformative corporate culture. We want to create greater access to the
                workplace and allow everyone to have the same level of freedom in their choices to progress at work. Our
                personal experiences have led to a focus on gender inclusion and inequality and we are particularly keen
                to support those balancing family and career.</p>
            <p>Everyone benefits from thinking about things differently and to
                recognising that there are other ways for things to be done. That is the ethos of diverse thinking. And
                that is what we do.</p>

            <h2>Services</h2>
            <p>Our coaching and consultancy services are designed to address the
                barriers faced by groups currently under-respresented in the workplace. We identify challenges and
                resolve them in a way that naturally aligns to your values and aspirations. We show you how to clarify
                your aspirations and give you the impetus you need to achieve them. We support you in becoming more
                deliberate and effective in your actions.</p>
            <p>The thing about us at Vilo Sky - we've been there. We've seen how
                it looks, we've heard how it sounds and we know how it feels. We want to share that experience with you
                and be part of the fascinating journey that ends with the realisation of full potential.</p>
        </div>
        <div class="mx-auto order-md-2 col-lg-4">
            <a class="twitter-timeline" data-height="760" data-theme="light"
                href="https://twitter.com/vilo_sky?ref_src=twsrc%5Etfw">Tweets by vilo_sky</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
{% endblock %}