{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Login - Vilo Sky
{% endblock %}

{% block body_block %}
<div class="container login-registration">
	<h1 class="mt-5 text-center">Login to Vilo Sky Paths</h1>

	{% for message in messages %}
	<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}

	<form id="login_form" method="post" action="{% url 'paths:login' %}">
		{% csrf_token %}
		<div class="mb-3">
			<label for="usernameInput" class="form-label">Username</label>
			<input required="" type="text" name="username" class="form-control" id="usernameInput"
				aria-describedby="username">
		</div>
		<div class="mb-3">
			<label for="passwordInput" class="form-label">Password</label>
			<input required="" type="password" name="password" class="form-control" id="passwordInput"
				aria-describedby="password">
		</div>
		<input type="submit" class="btn btn-login-registration btn-lg" value="Login">
	</form>
	<p>Don't have an account yet? <a href="{% url 'paths:register' %}">Register here.</a></p>
	<div class="dropdown-divider"></div>
	<p>By logging in you agree to our <a href="{% url 'paths:privacy-policy' %}">Privacy Policy.</a></p>
</div>
{% endblock %}