{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Dashboard - Vilo Sky
{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="mt-5">Team CS32 Privacy Policy</h1>
    <h2>Our contact details</h2>
    <p>Name: Paul O'Hagan</p>
    <p>E-mail: <a href="mailto: 2393709o@student.gla.ac.uk">2393709o@student.gla.ac.uk</a></p>

    <h2>The type of personal information we collect</h2>
    <p>We currently collect and process the following information:</p>
    <ul>
        <li>Personal identifiers, contacts and characteristics</li>
        <li>Work related details</li>
    </ul>

    <h2>How we get the personal information and why we have it</h2>
    <p>Most of the personal information we process is provided to us directly by you for one of the following reasons:
    </p>
    <ul>
        <li>So you have access to your past searches</li>
    </ul>
    <p>We use the information that you have given us in order to conduct a search.</p>
    <p>We may share this information with Vilo Sky C.I.C. who this prototype is intended for.</p>
    <p>Using the General Data Protection Regulation (GDPR), the lawful bases we rely on for processing this information
        area:</p>
    <ol type="a">
        <li>Your consent. You are able to remove your consent at any time. You can do this by contacting <a
                href="mailto: 2393709o@student.gla.ac.uk">2393709o@student.gla.ac.uk</a>.</li>
        <li>We have a contractual obligation.</li>
        <li>We have a legal obligation.</li>
        <li>We have a vital interest.</li>
        <li>We need it to perform a public task.</li>
        <li>We have a legitimate interest.</li>
    </ol>

    <h2>How we store your personal information</h2>
    <p>Your information securely stored in a database.</p>
    <p>We keep personal and work-related information for an indefinite amount of time. We will then dispose your
        information on request.</p>

    <h2>Your data protection rights</h2>
    <p>Under data protection law, you have rights including:</p>
    <p><b>Your right of access</b> - You have the right to ask us for copies of your personal information.</p>
    <p><b>Your right to rectification</b> - You have the right to ask us to rectify personal information you think is
        inaccurate. You also have the right to ask us to complete information you think is incomplete.</p>
    <p><b>Your right to erasure</b> - You have the right to ask us to erase your personal information in certain
        circumstances.</p>
    <p><b>Your right to restriction of processing</b> - You have the right to ask us to restrict the processing of your
        personal information in certain circumstances.</p>
    <p><b>Your right to object to processing</b> - You have the right to object to the processing of your personal
        information in certain circumstances.</p>
    <p><b>Your right to data portability</b> - You have the right to ask that we transfer the personal information you
        gave us to another organisation, or to you, in certain circumstances.</p>
    <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to
        respond to you.</p>
    <p>Please contact us at <a href="mailto: 2393709o@student.gla.ac.uk">2393709o@student.gla.ac.uk</a> if you wish to
        make a request</p>

    <h2>How to complain</h2>
    <p>If you have any concerns about our use of your personal information, you can make a complaint to us at <a
            href="mailto: 2393709o@student.gla.ac.uk">2393709o@student.gla.ac.uk</a>.</p>
    <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
    <p>The ICO's address:</p>
    <address>
        <strong>Information Commissioner's Office</strong>
        <br>
        Wycliffe House
        <br>
        Water Lane
        <br>
        Wilmslow
        <br>
        Cheshire
        <br>
        SK9 5AF
        <br>
        Helpline number: 0303 123 1113
    </address>
    <p>ICO website: <a href="https://www.ico.org.uk"></a>https://www.ico.org.uk</p>
</div>
{% endblock %}