{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Register - Vilo Sky
{% endblock %}

{% block body_block %}
<div class="container login-registration">
	<h1 class="mt-5 text-center">Register for Vilo Sky Paths</h1>

	{% for message in messages %}
	<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}

	<form id="register_form" method="post" action="{% url 'paths:register' %}">
		{% csrf_token %}
		<div class="mb-3">
			<label for="firstnameInput" class="form-label">First Name</label>
			<input required="" type="text" name="first_name" class="form-control" id="firstnameInput"
				aria-describedby="first_name">
		</div>
		<div class="mb-3">
			<label for="lastnameInput" class="form-label">Last Name</label>
			<input required="" type="text" name="last_name" class="form-control" id="lastnameInput"
				aria-describedby="last_name">
		</div>
		<div class="mb-3">
			<label for="usernameInput" class="form-label">Username</label>
			<input required="" type="text" name="username" class="form-control" id="usernameInput"
				aria-describedby="username">
		</div>
		<div class="mb-3">
			<label for="emailInput" class="form-label">Email address</label>
			<input required="" type="text" name="email" class="form-control" id="emailInput" aria-describedby="email">
		</div>
		<div class="mb-3">
			<label for="passwordInput" class="form-label">Password</label>
			<input required="" type="password" name="password" class="form-control" id="passwordInput">
		</div>
		<input type="submit" class="btn btn-login-registration btn-lg" value="Register">
	</form>
	<p>Already have an account? <a href="{% url 'paths:login' %}">Login here.</a></p>
</div>
{% endblock %}