{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Search - Vilo Sky
{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="mt-5">Pathways</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>

    <form id="search_form" method="post" action="{% url 'paths:search' %}" enctype="multipart/form-data">
        <h2>Personal Questions</h2>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="gender_tags">What is your gender?</label>
                    <select id="gender_tags" name="gender_tags" class="form-control">
                        {% for tag in search_form.gender_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="sexual_orientation_tags">What is your sexual orientation?</label>
                    <select id="sexual_orientation_tags" name="sexual_orientation_tags" class="form-control">
                        {% for tag in search_form.sexual_orientation_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="ethnicity_tags">What is your ethnicity?</label>
                    <select id="ethnicity_tags" name="ethnicity_tags" class="form-control">
                        {% for tag in search_form.ethnicity_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="disability_tags">Do you have any physical or mental disabilities?</label>
                    <select id="disability_tags" name="disability_tags" class="form-control">
                        {% for tag in search_form.disability_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h2>Work Related Questions</h2>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="current_work_situation_tags">What is your current work situation?</label>
                    <select id="current_work_situation_tags" name="current_work_situation_tags" class="form-control">
                        {% for tag in search_form.current_work_situation_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="last_paid_work_tags">How long has it been since your last paid work?</label>
                    <select id="last_paid_work_tags" name="current_work_situation_tags" class="form-control">
                        {% for tag in search_form.last_paid_work_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>What are your current workplace barriers?</label> <br>
                    {% for tag in search_form.work_place_barriers_tags %}
                    <div class="form-check form-check-inline">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>What industries are you interested in?</label> <br>
                    {% for tag in search_form.industry_tags %}
                    <div class="form-check form-check-inline">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-row ">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>What area are you interested in?</label> <br>
                    {% for tag in search_form.area_of_interest_tags %}
                    <div class="form-check form-check-inline">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>What are your current workplace barriers?</label> <br>
                    {% for tag in search_form.work_place_barriers_tags %}
                    <div class="form-check form-check-inline">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-row ">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="formal_qualifications_tags">Do you have relevant qualifications for your area of
                        interest?</label>
                    <select id="formal_qualifications_tags" name="formal_qualifications_tags" class="form-control">
                        {% for tag in search_form.formal_qualifications_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="current_experience_tags">How many years of experience do you have in your area of
                        interest?</label>
                    <select id="current_experience_tags" name="current_experience_tags" class="form-control">
                        {% for tag in search_form.current_experience_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-row ">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="ideal_hours_tags">What is your ideal amount of working hours per week?</label>
                    <select id="ideal_hours_tags" name="ideal_hours_tags" class="form-control">
                        {% for tag in search_form.ideal_hours_tags %}
                        {{ tag }}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>What would you like to achieve from your next role?</label> <br>
                    {% for tag in search_form.goals_tags %}
                    <div class="form-check form-check-inline">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="submit" name="submit" value="Find a Pathway" class="float-right btn btn-lg" />
    </form>
</div>
{% endblock %}