{% extends 'paths/base.html' %}
{% load static %}

{% block title_block %}
Search
{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="mt-5">Pathways</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
	
	<form id="search_form" method="post" action="{% url 'paths:search' %}" enctype="multipart/form-data">
	{% csrf_token %}
    
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Personal Details</label>
				<div class="fieldWrapper">
					{{ search_form.personal_details_tags }}
				</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Mental or Physical Disability</label>
				<div class="fieldWrapper">
					{{ search_form.disability_tags }}
				</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault03">Current Work Situation</label>
                <div class="fieldWrapper">
					{{ search_form.current_work_situations }}
				</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault04">Work Place Barriers</label>
				<div class="fieldWrapper">
					{{ search_form.work_place_barriers_tags }}
				</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault05">Time since Last Paid Work</label>
				<div class="fieldWrapper">
					{{ search_form.last_paid_work_tags }}
				</div>
            </div>
			<div class="col-md-6 mb-3">
                <label for="validationDefault05">Industry</label>
				<div class="fieldWrapper">
					{{ search_form.industry_tags }}
				</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault05">Area of Intrest</label>
				<div class="fieldWrapper">
					{{ search_form.area_of_interest_tags }}
				</div>
            </div>
			<div class="col-md-6 mb-3">
                <label for="validationDefault05">What is your heighest level of formal qualifications?</label>
				<div class="fieldWrapper">
					{{ search_form.formal_qulifications_tags }}
				</div>
            </div>
        </div>   
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault05">Current Experience</label>
				<div class="fieldWrapper">
					{{ search_form.current_experience_tags }}
				</div>
            </div>
			<div class="col-md-6 mb-3">
                <label for="validationDefault05">Ideal Hours a week</label>
				<div class="fieldWrapper">
					{{ search_form.ideal_hours_tags }}
				</div>
            </div>
        </div>  
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault05">Goals</label>
				<div class="fieldWrapper">
					{{ search_form.goals_tags }}
				</div>
            </div>
        </div>  		
        <a href="{% url 'paths:dashboard' %}" type="button" class="float-right btn btn-primary btn-lg">Find a pathway</a>
    
	
	

	
	
	<input type="submit" name="submit" value="Search" />
	</form>
	
	
	
</div>
{% endblock %}