body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 67px;
}

.navbar {
    background-color: #ffffff !important;
    font-weight: 500;
    transition: top 0.2s ease-in-out;
}

.logo {
    max-height: 40px;
}

.nav-link {
    font-size: 18px;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #5c478b;
}

h1, h2, h3, h4, h5 {
    color: #4f3d76;
}

figcaption {
    font: italic smaller sans-serif;
}

.btn {
    background-color: #5c478b;
    border-color: #5c478b;
    color: #ffffff;
}

.btn:hover {
    opacity: .8;
    color: #ffffff;
}

a {
    color: #5c478b;
}

a:hover {
    color: #3a2d58;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.login-registration {
    margin: auto;
    max-width: 500px;
}

.btn-login-registration {
    width: 100%;
}

.twitter-timeline {
    border: 2px solid #5c478b !important;
    border-radius: .3rem;
}

.form-check {
    min-width: 200px;
}

#id_prev_searches {
    font-size: 1.5rem;
}

.navbar.hidden {
	top:-67px;
}